main{
    height: 65vh;
}

//estilo de boton adicionar
#adicionar{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 40px;
}

label{
    margin: 0px 10px;
    font-size: 25px;  
}

//estilo de mensaje
.mensaje{
    text-align: center;
    font-size: 25px;  
}

.mensaje p{
    margin-top: -30px;
}

//estilos de tareas
//---------------------------
.wrapper{
    display: flex;
    justify-content: space-evenly;
}


.tareas{
    width: 300px;
    margin: 20px;
}

.iniciado{
    background: red;
    height: 40px;
    cursor: pointer;
   
}
.iniciado h5{
    padding: 5px;
    font-size: 16px;
    width: 70%;
}
.iniciado button{
    position: relative;
    top:-15px;
    margin-left: 250px;
    font-size: 20px;
    border: none;
    background: none;
}

.proceso{
    background: yellow;
    height: 40px;
}

.proceso h5{
    padding: 5px;
    font-size: 16px;
}


.terminado{
    background: green;
    height: 40px;
}

.terminado h5{
    padding: 5px;
    font-size: 16px;
}

